@page
@model RPClassicalBaptistPress.Pages.PublicationsModel
@{
    ViewData["Title"] = "Publications || Classical Baptist Press";
    ViewData["ParallaxImgPath"] = "../images/press.jpg";
    var publicationsInfo = PublicationsModel.GetPublicationInfo();
}

<script src="https://js.stripe.com/v3"></script>
<section class="container" id="wrap">
    <div class="row">
        <div class="col">
            <h3 class="secTitle center" id="header">Publications</h3>
            <hr>
            <br>
        </div>
    </div>
    <br />
    @foreach (var pub in publicationsInfo)
    {
        <div class="row">
            <div class="col-sm">
                @Html.Raw(pub.EmbeddedHTMLPublicationImg)
                <br />
                @Html.Raw(pub.PurchaseBtn)
            </div>
            <div id="error-message"></div>
            <div class="col">
                <h3>@Html.Raw(pub.Title)</h3>
                <strong>@pub.Device</strong>
                <small>By @pub.Author</small>
                <br />
                @Html.Raw(pub.DescriptionParagraph)
            </div>
        </div>
        <hr />
    }
</section>
<!-- 28 Truths -->
<script>
    (function () {
        var stripe = Stripe('pk_live_uVdFif1mqEmv2Qh53qBTTjRC00qWWfmIvH');

        var checkoutButton = document.getElementById('checkout-button-sku_FmzE9du2jC7IGE');
        checkoutButton.addEventListener('click', function () {
            /*
             * When the customer clicks on the button, redirect
             * them to Checkout.
             */
            stripe.redirectToCheckout({
                lineItems: [{ price: 'sku_FmzE9du2jC7IGE', quantity: 1 }],
                mode: 'payment',
                /*
                 * Do not rely on the redirect to the successUrl for fulfilling
                 * purchases, customers may not always reach the success_url after
                 * a successful payment.
                 * Instead use one of the strategies described in
                 * https://stripe.com/docs/payments/checkout/fulfill-orders
                 */
                successUrl: 'https://classicalbaptist.press',
                cancelUrl: 'https://classicalbaptist.press/publication.html',
            })
                .then(function (result) {
                    if (result.error) {
                        /*
                         * If `redirectToCheckout` fails due to a browser or network
                         * error, display the localized error message to your customer.
                         */
                        var displayError = document.getElementById('error-message');
                        displayError.textContent = result.error.message;
                    }
                });
        });
    })();
</script>
<!--LeaderGuide-->
<script>
    (function () {
        var stripe = Stripe('pk_live_uVdFif1mqEmv2Qh53qBTTjRC00qWWfmIvH');

        var checkoutButton = document.getElementById('checkout-button-sku_G96NoRLr9JV2zC');
        checkoutButton.addEventListener('click', function () {
            // When the customer clicks on the button, redirect
            // them to Checkout.
            stripe.redirectToCheckout({
                items: [{ sku: 'sku_G96NoRLr9JV2zC', quantity: 1 }],

                // Do not rely on the redirect to the successUrl for fulfilling
                // purchases, customers may not always reach the success_url after
                // a successful payment.
                // Instead use one of the strategies described in
                // https://stripe.com/docs/payments/checkout/fulfillment
                successUrl: 'https://classicalbaptist.press',
                cancelUrl: 'https://classicalbaptist.press/publication.html',
            })
                .then(function (result) {
                    if (result.error) {
                        // If `redirectToCheckout` fails due to a browser or network
                        // error, display the localized error message to your customer.
                        var displayError = document.getElementById('error-message');
                        displayError.textContent = result.error.message;
                    }
                });
        });
    })();
</script>
<!--Learners aderGuide-->
<script>
    (function () {
        var stripe = Stripe('pk_live_uVdFif1mqEmv2Qh53qBTTjRC00qWWfmIvH');

        var checkoutButton = document.getElementById('checkout-button-sku_G96fzawHrMNbcC');
        checkoutButton.addEventListener('click', function () {
            // When the customer clicks on the button, redirect
            // them to Checkout.
            stripe.redirectToCheckout({
                items: [{ sku: 'sku_G96fzawHrMNbcC', quantity: 1 }],

                // Do not rely on the redirect to the successUrl for fulfilling
                // purchases, customers may not always reach the success_url after
                // a successful payment.
                // Instead use one of the strategies described in
                // https://stripe.com/docs/payments/checkout/fulfillment
                successUrl: 'https://classicalbaptist.press',
                cancelUrl: 'https://classicalbaptist.press/publication.html',
            })
                .then(function (result) {
                    if (result.error) {
                        // If `redirectToCheckout` fails due to a browser or network
                        // error, display the localized error message to your customer.
                        var displayError = document.getElementById('error-message');
                        displayError.textContent = result.error.message;
                    }
                });
        });
    })();
</script>
